@import "../../App.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;

  h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-top: 20px;
    width: 600px;
    color: $colour-background;
    text-align: center;
  }

  .info {
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 34px;
        color: $colour-background-light;
        margin: 20px;
      }

      img {
        height: 300px;
        width: auto;
        border-radius: 180px;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin: 16px;
      color: $colour-red-dark;
      cursor: pointer;

      & > *:hover {
        color: $colour-orange;
      }
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  .container {
    margin: 20px;

    h1 {
      font-size: 40px;
      margin-bottom: 0;
    }

    p {
      font-size: 16px;
      width: 360px;
      margin-top: 10px;
    }

    .info {
      .head {
        h4 {
          font-size: 26px;
        }
        
        img {
          height: 220px;
        }
      }
    }
  }
}
