@import "../../App.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-radius: 40px;
  width: 60vw;
  background-color: $colour-background-light;
  box-shadow: 1px 2px 6px rgb(49, 49, 49);
  position: relative;

  h6 {
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.575);
  }

  & > img {
    border: 1px solid $colour-orange-faded;
    border-radius: 40px;
    max-height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-right: 26px;
    margin-left: 8px;

    h4 {
      font-size: 30px;
      color: $colour-orange;
    }

    h5 {
      font-size: 24px;
      font-weight: 200;
      color: $colour-blue;
    }

    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: scroll;
    border-radius: 30px;

    h6 {
      top: 16px;
      right: 16px;
      font-size: 18px;
    }

    & > img {
      width: 360px;
      height: auto;
    }

    .info {
      height: auto;
      margin: 20px;
      margin-top: 0;
      margin-bottom: 30px;

      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: $bp-mobile) {
  .container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: scroll;
    border-radius: 30px;

    h6 {
      top: 16px;
      right: 16px;
      font-size: 18px;
    }

    & > img {
      width: 320px;
      height: auto;
    }

    .info {
      height: auto;
      margin: 20px;
      margin-top: 0;
      margin-bottom: 30px;

      p {
        font-size: 16px;
      }
    }
  }
}
